html { color-scheme: light dark; }
body {
  background-color: #282c34;
  color: white;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
* { 
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
  text-align: justify;
}
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}
h1 {
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: Arial, sans-serif;
}